<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">
    <!-- END FONTS -->

    <link rel="stylesheet" href= "{{ url_for('static',filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="custom-bg">
  
  <nav class = "navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <!-- Logo on the left -->
      <a class="navbar-brand heading-f" href="/">
        <!-- <img src="/static/img/logo.png" alt="Logo" width="30" height="30" class="nav-logo d-inline-block align-text-top"> -->
        BHS Digitech Info Center
      </a>

      <!-- Toggler for mobile view -->
      <button 
        class="navbar-toggler" 
        type ="button" 
        data-toggle="collapse" 
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar content on the right -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-item nav-link" id="home" href="/">
              Home
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" id="resources" href="/resources/home" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-btn" href="/resources/home">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item nav-btn" href="/resources/career-opportunities">Career Opportunities</a>
              <a class="dropdown-item nav-btn" href="/resources/self-learn-resources">Self-learn Resources</a>
              <a class="dropdown-item nav-btn" href="/resources/courses-at-burnside">Courses at Butnside</a>
            </div>
          </li>
          
          <li class="nav-item active"></li>
            <a class="nav-item nav-link" id="forum" href="/forum/home">
              Community <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if session.get('user') %}
          <li class="nav-item active"></li>
            <a class="nav-item nav-link" id="forum" href="/logout">
              Logout
            </a>
          </li>

          {% else %}
          <li class="nav-item active"></li>
            <a class="nav-item nav-link" id="forum" href="/login">
              Login <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active"></li>
            <a class="nav-item nav-link" id="forum" href="/sign-up">
              Sign up <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- <nav class = "navbar navbar-expand-lg navbar-light custom-bg fixed-top">
    <div class="container-fluid"> 
      <button 
        class="navbar-toggler" 
        type ="button" 
        data-toggle="collapse" 
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="resources" href="/resources/home">Resources</a>
          <a class="nav-item nav-link" id="forum" href="/forum/home">Forum board</a>
          {% if session.get('user') %}
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signup" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav> -->


  {% with messages = get_flashed_messages(with_categories=true) %}
  <div class="flash-messages">
    <!-- how to make flash messages automatically dismiss -->
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show flash-message" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show flash-message" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% endwith %}

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <!-- footer -->
  <footer class="footer">
    <div class="footer-section">
        <div class="logo">
          <img class="logo-img" src="/static/img/logo.png" alt="logo">
        </div>
    </div>
    <div class="footer-section nav-links text-c-bold">
        <a href="/">Home</a>
        <a href="/resources/home">Resources</a>
        <a href="/forum/home">Commutnity</a>
        <a href="#">Contact</a>
    </div>
    <div class="footer-section contact-info text-c-bold">
        <p>Email: admin@burnside.school.nz</p>
        <p>Phone: 03 358 8383</p>
        <p>Address: 139 Greers Road, Burnside, Christchurch 8053</p>
    </div>
    <div class="footer-section social-icons">
        <a href="#" aria-label="Facebook">f</a>
        <a href="#" aria-label="Twitter">t</a>
        <a href="#" aria-label="Instagram">i</a>
    </div>

</footer>

  <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>
