{% extends "base.html" %} {% block title %}Forum board{% endblock %}

{% block content %}
<div class="post">
    <h1 align="center">Posts</h1>
    <br>
    
    <!-- List of posts -->
    <ul class="list-group list-group-flush">
        {% for post in posts %}
        <a class="post-list" href="{{ url_for('views.forum', id=post[0]) }}">
            <li class="post-list-li heading-d">>&nbsp; {{ post[2] }}</li>
        </a>
        {% endfor %}
    </ul>
    
    <br>
    <a href="{{ url_for('views.createANDedit', action='create', subject='post') }}">
        <button type="button" class="create-post-btn button a">Create New Post</button>
    </a>
    
</div>

{% endblock %}