{% extends "base.html" %} {% block title %}{{ title }}{% endblock %}

{% block content %}

<br>
<h1>{{ title }}</h1>
<p class="date">{{ date }}</p>

<br>

<p>{{ content }}</p>

<br><br>

<div style='border-top:2px solid #aba3a3'>
    <br>
    <h5>Comments</h5>

    <br>
    {% if 'user' in session %}
        <button class="comment-btn" onclick="document.getElementById('commentBox').classList.toggle('hidden');">Add your comment...</button>
        <div id="commentBox" class="comment-box hidden">
            <form method="POST" action="{{ url_for('views.forum', id=id) }}">
                <textarea 
                name="comment"
                id="comment"
                placeholder="Write your comment here..."></textarea><br>
                <button type="submit" class="submit-comment">Submit Comment</button>
            </form>
        </div>
    {% else %}
        <p>Please <a href="{{ url_for('auth.login') }}" class="custom-link-underline">log in</a> to add a comment.</p>
    {% endif %}

    <div>
        <ul class="list-group list-group-flush" id="comments">
            <!-- comID 0, userID 1, postID 2, content 3, date 4, username 5 -->
            {% for comment in comments %}
            <li class="list-group-item custom-bg comment">
                <p class="inline" style="color: rgb(174, 158, 158)">{{ comment[5] }}</p>
                <!-- dotMenu -->
                {% include "dotComment.html" %}
                <p>{{ comment[3] }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div><br><br>



{% endblock %}