{% extends "base.html" %} {% block title %} Python quiz - Question {{ id }} {% endblock %}

{% block content %}
<br>
<h1>Python Quiz</h1>
<br><br>
<h3>Question {{ id }}</h3>
<br>
<p>{{ question }}</p>
<form method="POST">
    <br>
    <div class="form-group">
        <lable for="user_answer">Your answer</lable>
        <input 
            type="user_answer" 
            class="form-control" 
            id="user_answer" 
            name="user_answer"
            placeholder="Enter answer"
            required
        />
    </div>
    <br>
    <button type="submit" class="btn btn-outline-info">Submit</button>
</form>
{% endblock %}