{% extends "base.html" %} {% block title %} Resources : BHS Digital technologies Information Centre {% endblock %}

{% block content %}

<section class="banner no-margin">
    <div class="banner-content">
        <h1>Career opportunities</h1>
        <div class="banner-buttons">
            <button>Digitech courses in BHS</button>
            <button>Self-learn resources</button>
        </div>
    </div>
</section>
<section class="career-section">
    <!-- cards = cardID 0, career 1, salary 2, description 3, img_src 4 -->
    {% for card in cards %}
        <div class="career-card-container">
            <div class="career-card">
                <div class="career-img-container">
                    <img src="../static/img/software-developer.png" alt="Software Developer">
                    <div class="career-info">
                        <div class="overlay">
                            <h2>{{ card[1] }}</h2>
                            <p>{{ card[2] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="career-description">
                <p>Software developers design, build, and maintain software applications by writing and troubleshooting code to meet users’ needs.</p>
                <button>Learn More</button>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}