{% extends "base.html" %} {% block title %} Resources : BHS Digital technologies Information Centre {% endblock %}

{% block content %}

<div class="resources-question">
    <h3 class="heading-a">General Question</h3>
    <h1 class="heading-a">Which job will get me rich?</h1>
    <br>
    <h4 class="heading-a grey-heading">And will be easy to study?<br>AND is enjoyable?</h4>
    <br>
    <h3 class="heading-a">Learning prgramming could help!</h3>
    <br>
    <a href="#">
        <button class="button-angular button-a">CLICK TO LEARN MORE</button>
    </a>
</div>
<div class="resources-banner no-margin">
    <div class="resources-banner-content text-white">
        <h4 class="heading-d">Did you know, programmers can earn up to</h4>
        <br><br>
        <h2 class="heading-e resources-banner-heading">$172,000 per year?</h2>
        <br><br><br>
        <p class="heading-d resources-banner-p">
            Have never done Digital technologies? No worries!
            <br>Click below to learn more on how to get started
            <br>↓
        </p>
            <a>
                <button class="learn-more-btn button-round button-b">Click to learn more</button>
            </a>
    </div>    
</div>

<div class="info-center">
    <button class="resources-button text-d">Our Resources</button>
    <br><br>
    <h2 class="heading-e border-text">Information Centre</h2>
    <br>
    <div class="card-container">
        <div class="card">
            <div class="card-image-container">
                <img class="card-image blur" src="../static/img/info-center-1.png" alt="Career opportunities">
            </div>
            <div class="card-content">
                <div class="card-category text-c">RESOURCES &gt;</div>
                <h3 class="heading-f">Career opportunities</h3>
            </div>
            <br>
            <a href="{{ url_for('views.resources', submenu='career-opportunities') }}" class="icon">➜</a>
        </div>
        <div class="card">
            <div class="card-image-container">
                <img class="card-image blur" src="../static/img/info-center-2.png" alt="Self-learn Resources">
            </div>
            <div class="card-content">
                <div class="card-category text-c">RESOURCES &gt;</div>
                <h3 class="heading-f">Self-learn Resources</h3>
            </div>
            <br>
            <a href="{{ url_for('views.resources', submenu='courses-at-burnside') }}" class="icon">➜</a>
        </div>
        <div class="card">
            <div class="card-image-container">
                <img class="card-image blur" src="../static/img/info-center-3.png" alt="Courses at Burnside">
            </div>
            <div class="card-content">
                <div class="card-category text-c">RESOURCES &gt;</div>
                <h3 class="heading-f">Courses at Burnside</h3>
            </div>
            <br>
            <a href="{{ url_for('views.resources', submenu='self-learn-resources') }}" class="icon">➜</a>
        </div>
    </div>
</div>


{% endblock %}