.custom-bg {
    background-color: #faf3f2; 
}

.inline {
  display: inline;
  }

.navbar {
  border-bottom:2px solid #aba3a3;
}

.date {
  color: rgb(170, 170, 170)
}

textarea {
  padding: 5px;
  margin: 4px;
  border: none;
  border-width: 2px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

pre {
  font-family: inherit; /* Use the same font as the surrounding text */
  font-size: inherit; /* Use the same font size as the surrounding text */
  white-space: pre-wrap; /* Preserve line breaks but allow wrapping */
  margin: 0; /* Remove default margins */
}



/* ----------- link ----------- */

.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    color: #79aeac; 
    text-decoration: none;
}

.custom-link-underline {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.custom-link-underline:hover {
    color: #79aeac; 
}



/* ----------- comment ----------- */

.hidden {
  display: none;
}

.comment {
    margin-top  : 10px;
}

.comment-btn {
    padding: 10px 20px;
    background-color: #faf3f2;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    border-bottom :rgba(45, 35, 66, 0.3); 
    font-family: "JetBrains Mono",monospace;
}

.submit-comment {
    padding: 5px 10px;
    background-color: white;
    color: rgb(192, 181, 181);
    text-align: right;
    border: none;
    border-radius: 12px;
    font-family: "JetBrains Mono",monospace;
    font-size: 16px;
}

.comment-box {
    margin-top: 10px;
}



/* ----------- DOT BTN ----------- */

.dot-btn {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.dot-btn .dots {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot-btn .dots span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  margin: 2px 0;
}



/* ----------- extra ----------- */

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}