.custom-bg {
    background-color: #faf3f2; 
}

.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    color: #79aeac; 
    text-decoration: none;
}

body {
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #faf3f2;
    height: 100vh;
    position: fixed;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}
.nav-link {
    color: #333;
}
.nav-link:hover {
    color: #007bff;
}